@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Default CSS variables (can be overridden by consuming apps) */
/* we are using separate vars to prevent name collisions with Tailwind CSS */

/* Light mode colors */
:root {
  /* Main Brand Colors */
  --ui-color-primary: #f97316;
  --ui-color-secondary: #3b82f6;
  --ui-color-accent: #8b5cf6;

  /* State Colors for Alerts/Notifications */
  --ui-color-success: #10b981;
  --ui-color-success-light: #d1fae5;
  --ui-color-warning: #f59e0b;
  --ui-color-warning-light: #fef3c7;
  --ui-color-error: #ef4444;
  --ui-color-error-light: #fee2e2;
  --ui-color-info: #3b82f6;
  --ui-color-info-light: #dbeafe;

  /* theme colors */
  --ui-color-background: #fff;
  --ui-color-border: oklch(92.8% 0.006 264.531);
}

/* Dark mode colors */
:root:where(.dark) {
  /* Main Brand Colors */
  --ui-color-primary: #fb923c;
  --ui-color-secondary: #60a5fa;
  --ui-color-accent: #a78bfa;

  /* Background Colors */
  --ui-color-background: oklch(0.13 0.028 261.692);
  --ui-color-border: color-mix(in oklab, #fff 7.5%, transparent);
}

@theme inline {
  /* Main Brand Colors */
  --color-primary: var(--ui-color-primary);
  --color-secondary: var(--ui-color-secondary);
  --color-accent: var(--ui-color-accent);

  /* Background Colors */
  --color-background: var(--ui-color-background);

  /* State Colors */
  --color-success: var(--ui-color-success);
  --color-success-light: var(--ui-color-success-light);
  --color-warning: var(--ui-color-warning);
  --color-warning-light: var(--ui-color-warning-light);
  --color-error: var(--ui-color-error);
  --color-error-light: var(--ui-color-error-light);
  --color-info: var(--ui-color-info);
  --color-info-light: var(--ui-color-info-light);

  /* Border Colors */
  --color-border: var(--ui-color-border);
}

@theme {
  /* shadows */
  --shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);

  /* breakpoints */

  /* to use normal breakpoints you can use sm, md, lg, xl ... */
  /* to use min breakpoints you can use min-sm, min-md, min-lg, min-xl ... */
  /* to use max breakpoints you can use max-sm, max-md, max-lg, max-xl ... */
  /* by default all the breakpints are min width so (min-breakpoint) is not requird
      unless you need min-max breakpoint
      eg.(min width: 576px and max width: 768px) with tailwild css (min-sm:max-md:bg-red-500) */

  --breakpoint-coxs: 375px;
  --breakpoint-xs: 425px;
  --breakpoint-cosm: 500px;
  --breakpoint-sm: 576px;
  --breakpoint-comd: 650px;
  --breakpoint-md: 768px;
  --breakpoint-colg: 850px;
  --breakpoint-lg: 992px;
  --breakpoint-coxl: 1050px;
  --breakpoint-xl: 1200px;
  --breakpoint-co2xl: 1320px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1660px;
  --breakpoint-1700: 1700px;
  --breakpoint-4xl: 1800px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-gray-950 dark:text-white/90;
  }
}
