@import "./styles/vars.css";
@import "./styles/theme.css";
@import "./styles/scrollbar.css";
@import "./styles/utilities.css";
@import "./styles/layers/base.css";

@source "./utils";
@custom-variant dark (&:where(.dark, .dark *));
