/* ----------------------------
   Imports must come first
   ---------------------------- */
@import "./styles/vars.css";
@import "./styles/theme.css";
@import "./styles/scrollbar.css";
@import "./styles/utilities.css";
@import "./styles/layers/base.css";

/* ----------------------------
      Custom directives
      ---------------------------- */
@source "./utils";
@custom-variant dark (&:where(.dark, .dark *));

/* ----------------------------
      Any additional global CSS
      ---------------------------- */
/* You can add more global styles here */
