@import "tailwindcss";
@source "./utils";

@custom-variant dark (&:where(.dark, .dark *));

/* variables */
@import "./styles/vars.css";

/* theme */
@import "./styles/theme.css";

/* scrollbar */
@import "./styles/scrollbar.css";

/* utilities */
@import "./styles/utilities.css";

/* layers */
@import "./styles/layers/base.css";
