/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-400);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-500);
}

::-webkit-scrollbar-track {
  background-color: var(--color-neutral-200);
  padding: 2px;
}

/* Dark mode scrollbar */
html.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-600);
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-500);
}

html.dark ::-webkit-scrollbar-track {
  background-color: var(--color-neutral-800);
}
