@theme {
  /* shadows */
  --shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@theme inline {
  /* Main Brand Colors */
  --color-primary: var(--colors-ui-primary);
  --color-primary-light: color-mix(in srgb, var(--colors-ui-primary) 12%, transparent);
  --color-secondary: var(--colors-ui-secondary);
  --color-secondary-light: color-mix(in srgb, var(--colors-ui-secondary) 12%, transparent);
  --color-success: var(--colors-ui-success);
  --color-success-light: color-mix(in srgb, var(--colors-ui-success) 12%, transparent);
  --color-info: var(--colors-ui-info);
  --color-info-light: color-mix(in srgb, var(--colors-ui-info) 12%, transparent);
  --color-warning: var(--colors-ui-warning);
  --color-warning-light: color-mix(in srgb, var(--colors-ui-warning) 12%, transparent);
  --color-error: var(--colors-ui-error);
  --color-error-light: color-mix(in srgb, var(--colors-ui-error) 12%, transparent);
  --color-neutral: var(--color-neutral);
  --color-neutral-light: color-mix(in srgb, var(--color-neutral) 12%, transparent);

  /* Background Colors */
  --color-background: var(--colors-ui-background);

  /* Border Colors */
  --color-border: var(--colors-ui-border);

  /* Border Radius */
  --radius: var(--colors-ui-border-radius);
}
