@theme {
  /* shadows */
  --shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

@theme inline {
  /* Main Brand Colors */
  --color-primary: var(--ui-primary);
  --color-primary-light: color-mix(in srgb, var(--ui-primary) 12%, transparent);
  --color-secondary: var(--ui-secondary);
  --color-secondary-light: color-mix(in srgb, var(--ui-secondary) 12%, transparent);
  --color-success: var(--ui-success);
  --color-success-light: color-mix(in srgb, var(--ui-success) 12%, transparent);
  --color-info: var(--ui-info);
  --color-info-light: color-mix(in srgb, var(--ui-info) 12%, transparent);
  --color-warning: var(--ui-warning);
  --color-warning-light: color-mix(in srgb, var(--ui-warning) 12%, transparent);
  --color-error: var(--ui-error);
  --color-error-light: color-mix(in srgb, var(--ui-error) 12%, transparent);
  --color-neutral: var(--ui-neutral);
  --color-neutral-light: color-mix(in srgb, var(--ui-neutral) 12%, transparent);

  /* Background Colors */
  --color-background: var(--ui-background);

  /* Border Colors */
  --color-border: var(--ui-border);

  /* Border Radius */
  --radius: var(--ui-border-radius);
}
