@utility text-inverted {
  color: var(--ui-color-text-inverted);
}

@utility text-muted {
  color: var(--ui-color-text-muted);
}

@utility text-dimmed {
  color: var(--color-neutral-500);
}

@utility bg-stripes {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}
