/* Default CSS variables (can be overridden by consuming apps) */
/* we are using separate vars to prevent name collisions with Tailwind CSS */

/* Light mode colors */
:root {
  /* Main Brand Colors */
  --colors-ui-primary: #e88711;
  --colors-ui-secondary: #2b7fff;
  --colors-ui-success: #00c271;
  --colors-ui-info: #2b7fff;
  --colors-ui-warning: #f0b100;
  --colors-ui-error: #fb2c36;

  /* Text Colors */
  --colors-ui-text: var(--color-neutral-700);
  --colors-ui-text-muted: var(--color-neutral-500);
  --colors-ui-text-inverted: var(--color-neutral-900);

  /* Background Colors */
  --colors-ui-background: var(--color-white);

  /* Border Colors */
  --colors-ui-border: var(--color-slate-200);
  --colors-ui-border-radius: 0.25rem;
}

/* Dark mode colors */
:root:where(.dark) {
  /* Main Brand Colors */
  --colors-ui-primary: #e58b1d;
  --colors-ui-secondary: #51a2ff;
  --colors-ui-success: #00dc82;
  --colors-ui-info: #51a2ff;
  --colors-ui-warning: #fdc700;
  --colors-ui-error: #ff6467;

  /* Text Colors */
  --colors-ui-text: var(--color-neutral-300);
  --colors-ui-text-muted: var(--color-neutral-400);
  --colors-ui-text-inverted: var(--color-white);

  /* Background Colors */
  --colors-ui-background: var(--color-neutral-900);

  /* Border Colors */
  --colors-ui-border: var(--color-neutral-800);
}
