@import "tailwindcss";
@import "@nuxt/ui";

@import "../../node_modules/veloce-vue/styles/index.css";
@source "../../node_modules/veloce-vue/components";

@layer base {
  * {
    @apply border-border;
  }
}

/* update the md file to remove the inline binding of the components 
 and create files with all the required variants and then pass the prop
 to show the specific variant */
