@import "tailwindcss";

@import "../../../packages/ui/src/style.css";
@source "../../../packages/ui/src/components";

@layer base {
  body {
    color: var(--ui-color-text);
    background-color: var(--ui-color-background);
  }
}
