@import "tailwindcss";

@import "../../../packages/ui/src/style.css";
@source "../../../packages/ui/src/components";

@theme {
  --breakpoint-coxs: 375px;
  --breakpoint-xs: 425px;
  --breakpoint-cosm: 500px;
  --breakpoint-sm: 576px;
  --breakpoint-comd: 650px;
  --breakpoint-md: 768px;
  --breakpoint-colg: 850px;
  --breakpoint-lg: 992px;
  --breakpoint-coxl: 1050px;
  --breakpoint-xl: 1200px;
  --breakpoint-co2xl: 1320px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1660px;
  --breakpoint-1700: 1700px;
  --breakpoint-4xl: 1800px;
}

@layer base {
  body {
    color: var(--ui-color-text);
    background-color: var(--ui-color-background);
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-400);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-500);
}

::-webkit-scrollbar-track {
  background-color: var(--color-neutral-200);
  padding: 2px;
}

/* Dark mode scrollbar */
html.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-600);
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-500);
}

html.dark ::-webkit-scrollbar-track {
  background-color: var(--color-neutral-800);
}
